.highlightedEventsView {
  /* width: 100vw; */
  /* max-width: 1600px; */
  height: 100vh;
}

.highlightedEventsView .p-tabview-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
