.highlightsList {
  --gap: calc(var(--spacing) * 2);

  flex-grow: 1;
  gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--spacing);
  padding-top: calc(var(--spacing) * 5);
  padding-right: calc(var(--spacing) * 2);
}

.highlightsList .eventCard {
  flex-basis: calc(50% - (var(--gap) / 2));
  max-height: 160px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  padding-left: calc(var(--spacing) * 2);
}

.highlightsList .eventCard.mainFocus {
  flex-basis: 100%;
  order: -1;
}

.highlightsList .eventCard .cardControls {
  align-self: flex-end;
}
