.eventsView {
  width: 100vw;
  max-width: 1450px; /* this is how wide all the category tabs are together */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.eventsView .p-tabview-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--spacing) * 4);
}

.eventsView .eventsListsWrapper {
  padding: calc(var(--spacing) * 3) 0;
  flex-grow: 1;
  display: flex;
}
