.editorForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: calc(var(--spacing) * 3);
  border-radius: calc(var(--spacing) / 2);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: calc(var(--spacing) * 3) calc(var(--spacing) * 2);
  min-width: 720px;
}

.editorForm__title {
  grid-column: 1 / -2;
}

.editorForm .modalCloseButton {
  grid-column: -2 / -1;
  justify-self: self-end;
}

.editorForm .eventName {
  grid-column: 1 / -1;
}

.editorForm .eventStartDate {
  grid-column: 1 / 4;
}

.editorForm .eventEndDate {
  grid-column: 4 / -1;
}

.editorForm .eventCategory {
  grid-column: 1 / 3;
}

.editorForm .eventStatus {
  grid-column: 3 / -1;
  flex-direction: row;
}

.editorForm .saveEventButton {
  grid-column: 5 / -1;
}
